<a href="https://colab.research.google.com/github/umarmohammed/measuring-bias-in-a-dataset/blob/project-3/1.%20Load%20the%20dataset%20and%20predictions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Mount Google Drive locally
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
# load the dataset 
from joblib import load

data = load("/content/drive/MyDrive/liveProject/mortgage_data_preprocess.pkl.gz")

X = data[0]
y = data[1]

# Concatonate the data into a dataframe
import pandas as pd

df = pd.concat([X, y], axis=1)

        loan_amount_000s  ...  action_taken_name
0                    102  ...              False
1                    114  ...              False
2                    105  ...              False
3                    270  ...              False
4                     62  ...              False
...                  ...  ...                ...
199995                85  ...               True
199996              1400  ...               True
199997                 5  ...               True
199998                95  ...               True
199999               148  ...               True

[200000 rows x 36 columns]