# Load data

In [1]:
# Mount Google Drive locally 
# Using the instructions found here https://colab.research.google.com/notebooks/io.ipynb#scrollTo=u22w3BFiOveA&line=1&uniqifier=1

In [2]:
# Load the pickled dataframe using the "read_pickle()"" function from "pandas"

# 1: Distribution of key demographics

In [34]:
# We can index a dataframe by a "column_name"
# e.g. df["column_name"] returns the values for that column as a pandas Series object
#
# Calling value_counts() on the Series returns a Series containing counts of unique values
#
# We can convert the counts to percentages by dividing by number of rows in the dataframe 
#
#
# i.e. for a given "column_name" we want a series containing
#
# Unique values in df["column_name"] as a percentage of number of rows in df

#2: Distribution of outcomes

In [35]:
# we can use the same technique as above to get the frequency of "action_taken_name" column
#
# freq = Unique values in df["action_taken_name"] as a percentage of number of rows in df

In [43]:
# A simple way to draw a bar chart using seaborn is by using the "barplot" function
# passing in lists for the x and y parameters
#
# For the x values we want the labels of "freq" which we can get from the Series "index" property
# For the y values we want the values of "freq" which we can get from the Series "values" property

# 3: Histogram of applicant income

In [44]:
# A simple way to draw a histgram using seaborn is using the "histplot" function
# passing values for the data, x and bins parameters
# 
# For the data parameter we can pass the dataframe we loaded at the start of this milestone
# For the x parameter we pass the name of the column for which we want to chart the histogram
# Experiment with different values for the bins parameter

In [52]:
# Computing the log of values in a dataframe can be done using the pd.np.log() function
# i.e. log of some_column = pd.np.log(df["some_column"])
#
# Adding a new column to a dataframe uses a similar syntax to indexing a column e.g.
# df["new_column"]= <values>
#
# These can be combined to a new column to the dataframe
# 
# The new column can be plotted using the seaborn histplot method as above

#4: Histogram of applicant income and its relationship to gender

In [53]:
# Seaborn provides a neat way of splitting the histogram based on another column
# This is done by passing the name of the other column to the "hue" parameter of
# the "histplot" function

#5: Contigency tables for key demographics

In [56]:
# The "crosstab" function in the pandas library shows the frequencies between 
# columns of data
#
# e.g. for "column_1" and "column_2"
# pd.crosstab(df["column_1"], df["column_2"])
#
# We want each value in the table as a percentage of number of rows in the 
# dataframe

# 6: Bar plot for gender and outcome

In [171]:
# d = the crosstab for "applicant_sex_name" and "action_taken_name"
#
# recompute each value in d as percentage of gender by dividing each value in d
# by the sum of d across the columns
#
# use the stack() and reset_index() on d to create a dataframe containing 
# columns "applicant_sex_name", "action_taken_name" and "value"
# The dataframe should contain 4 rows, one for each cross-tabulation value
#
# Use the "catplot()" from the seaborn library passing values for 
# data, x, y, col, kind and height parameters