In [ ]:
# Mount Google Drive locally
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Load the dataset into a pandas dataframe
import pandas as pd
df = pd.read_pickle("/content/drive/My Drive/mortgage_data_project_one.pkl.gz")

df.head()

   as_of_year  ... application_date_indicator
0        2011  ...                          0
1        2011  ...                          0
2        2011  ...                          0
3        2011  ...                          0
4        2011  ...                          0

[5 rows x 78 columns]

In [ ]:
# Remove extra columns
keep_vars = ['respondent_id', 'as_of_year', 'agency_abbr', 'loan_type_name', 'loan_amount_000s', 'owner_occupancy_name',
             'loan_purpose_name', 'property_type_name', 'preapproval_name', 'msamd_name', 'state_abbr', 'county_name',
             'applicant_ethnicity_name', 'co_applicant_ethnicity_name', 'applicant_race_name_1', 'co_applicant_race_name_1',
             'applicant_sex_name', 'co_applicant_sex_name', 'applicant_income_000s', 'purchaser_type_name', 
             'denial_reason_name_1', 'hoepa_status_name', 'lien_status_name', 'population', 'minority_population',
             'hud_median_family_income', 'tract_to_msamd_income', 'number_of_owner_occupied_units', 
             'number_of_1_to_4_family_units', 'action_taken_name']
df = df[keep_vars].copy()


# categorical variables
cat_variables = ['applicant_ethnicity_name', 'applicant_race_name_1', 'applicant_sex_name', 'agency_abbr',
                                 'owner_occupancy_name', 'property_type_name', 'loan_purpose_name', 'loan_type_name']

# other integer variables
int_variables = ['loan_amount_000s', 'applicant_income_000s', 'population', 'minority_population', 
                 'hud_median_family_income', 'tract_to_msamd_income', 'number_of_owner_occupied_units', 
                 'number_of_1_to_4_family_units']

# target variable
output_variable = ['action_taken_name']

### Pre-processing
# Mapping categorical variables to one-hot encoding
df_cat = pd.DataFrame(index=df.index)

# one-hot encoding of categorical variables
from sklearn.preprocessing import OneHotEncoder

# I will do a loop for pedagogical reasons, but it is not entirely necessary
for cat in cat_variables:
    # one-hot encoding fitting
    one_hot_func = OneHotEncoder().fit(df[[cat]])
    
    # mapping
    cat_mapped = one_hot_func.transform(df[[cat]]).toarray()
    
    # storing
    for (k, cat_label) in enumerate(one_hot_func.categories_[0]):
        df_cat[cat + "_" + cat_label] = cat_mapped[:, k]

# consolidating a final dataset
df_final = pd.concat([df[int_variables], df_cat, (df[output_variable] == "Application denied by financial institution").copy()], axis=1)

In [8]:
df_final

        loan_amount_000s  ...  action_taken_name
0                    102  ...              False
1                    114  ...              False
2                    105  ...              False
3                    270  ...              False
4                     62  ...              False
...                  ...  ...                ...
165945               116  ...               True
165946                85  ...               True
165947                 5  ...               True
165948                95  ...               True
165949               148  ...               True

[165950 rows x 36 columns]

In [ ]:
# Store the dataset in pickled dictionary
import pickle

with open("/content/drive/My Drive/mortgage_data_project_one_preprocess.pkl.gz", 'wb') as pickle_file:
    pickle.dump(df_final, pickle_file)